@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-clr: #22254b;
  --secondary-clr: #373b69;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-clr);
}

/* Header */
header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: end;
  background-color: var(--secondary-clr);
  position: fixed;
  z-index: 2;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-clr);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-clr);
}

.search::placeholder {
  color: #7378c5;
}